@import "variables";

.progress-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background-color;
  padding: $padding;
  border-radius: 40px;
  width: 260px;
  height: 220px;
  margin-top: 20px;

  box-shadow: 0px 4px 12px $box-shadow-color;

  .header-card-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: $font-size-small;
    color: $text-color;
    padding: 12px;

    a {
      cursor: pointer;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    padding-bottom: 1rem;
    // width: 100%;

    .gauge-text {
      font-size: 12px;
      color: #555;
      text-align: center;
    }
  }
}
